
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  background-image: url("bg.png");
  backgroun-size: cover;
  min-height: 100vh;
  background-position: center center;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  width: 1000px;
  max-width: 100%
}

.pre-nav {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #026E78;
  font-weight: bold;
  text-decoration: none;
  font-size: 2rem;
}

.call {
  color: white;
  text-decoration: none;
  }

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: .5rem 0;
}

nav li {
  flex: 1 auto;
}


nav li a {
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #2d99a4;
  text-align: center;
  display: block;
}

nav a.active {
  background-color: #fff;
  color: #2D99A4;
  font-weight: bold;
}

nav a.highlight {
  background-color: #026e78;
  color: #fff;
}

nav a:hover {
  opacity: 0.8;
}

.white-link {
  color: #2d99a4;
  text-decoration: none;
  background-color: white;
  padding: 1rem;
  }

.teal-link {
  color: white;
  text-decoration: none;
  background-color: #2d99a4;
  padding: 1rem;
  margin-top: 1rem;
  }

.content {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: flex-start;
  margin-top: 5rem;
}

.content h1 {
  background-color: #026e78;
  color: #fff;
  display: inline-block;
  padding: 1rem;
  font-weight: 200;
}

@media screen and (max-width: 76px) {
  .pre-nav {
    flex-direction: column;
    justify-content: center;
  }

  nav {

  }

  .content {
    font-size: 1.5rem;
  }
}
